.Header{
    display: flex;
    height: 57px;
    flex-direction: row;
    justify-content: space-between;
    
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;

    border-bottom: 1px solid #dedede;
    z-index: 100;
}

.left-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
    cursor: pointer;
}
.youtube-logo{
    height: 20px;
    cursor: pointer;
}

.middle-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-left: 60px;
    max-width: 500px;
    align-items: center;

}
.search-box{
    font-size: 16px;
    height: 40px;
    border-width: 1px; 
    border-style: solid;
    flex: 1;
    padding-left: 12px;
    border-radius: 2px;
    border-color: rgb(174, 172, 172) ;
    box-shadow: inset 1px 2px 3px rgb(0 ,0 ,0 , 0.05);
    width: 0;
}

.search-box::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;
}

.search-button{
    height: 40px;
    width: 64px;
    border-style: solid;
    border-width: 1px;
    background-color: #f7f7f7 ;
    border-color: #cccccc;
    margin-left: -1px;
    margin-right: 8px;
}

.search{
    height: 24px;
}
.vsearch{
    height: 24px;
}
.vsearch-button{
    height: 40px;
    width: 40px;
    margin-left: 12px;
    border-radius: 20px ;
    border-style: solid;
    border-width: 0;
    background-color: #f8f8f8;

}

.right-container{
    width: 182px;
    margin-right: 24px;
    margin-left: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload{
    height: 24px;

}

.youtube-apps{
    height: 24px;

}

.notifications{
    height: 24px;
    cursor: pointer;
}

.notifications-logo-container{
    position: relative;

}
.notification-number{
    background-color: #cc0000;
    border-radius: 80px;
    position: absolute;
    top: -3px;
    right: -7px;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding: 0 5px;
    pointer-events: none;
}

.channel-pic{
    height: 32px;
    cursor: pointer;
}